---
title: The (Generally) Non-Fiction Book CLub
description: The List of the Books
layout: default
---
<p>
    {{ site.data.books.intro | markdownify }}
</p>
<hr>
<div class="books-panel">
<div class="book-sort-control-container">
    <span class="book-sort-control-group book-sort-title">Sort</span>
    <span class="book-sort-control-group book-sort-directions">
        <label><i class="fas fa-sort-up"></i>
            <input type="radio" value="ascending" name="book-sort-direction"  />
        </label>
        <label><i class="fas fa-sort-down"></i>
            <input type="radio" value="descending" name="book-sort-direction" checked />
        </label>
    </span>
    <span class="book-sort-control-group book-sort-keys">
        <label>Author
            <input type="radio" value="authorKey" name="book-sort-key"  />
        </label>
        <label>Title
            <input type="radio" value="titleKey" name="book-sort-key"  />
        </label>
        <label>Year
            <input type="radio" value="year" name="book-sort-key"  checked />
        </label>
        <label>Rating
            <input type="radio" value="ratingValue" name="book-sort-key" />
        </label>
    </span>
</div>
<div id="books">
    {% for book in site.data.books.books %}
    <div class="book"
         data-rating-value="{{ book.rating }}"
         data-author-key="{{ book.sort_keys.author }}"
         data-year="{{ book.sort_keys.date }}"
         data-title-key="{{ book.sort_keys.title }}">
        <h4>{{ book.author }} <em>{{ book.title }}</em></h4>
        <p>
            <code class="language-plaintext highlighter-rouge">{{ book.meeting_date}}</code>
            {% if book.rating==-1 %}
            :man_shrugging:
            {% else %}
                <span class="rating-stars" data-rating-value="{{ book.rating }}" ></span>
            {% endif %}
            {% if book.rating_warning %}:warning:{% endif %}
        </p>
        <ul>
            {% for remark in book.remarks %}
            <li>{{ remark }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
</div>