---
---

@import "{{ site.theme }}";

.book {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 5px lightgrey;
    background-color: white;
}

.books-panel {
    background-color: lightyellow;
}

.book-sort-control-container {
    margin-bottom: 0.4em;
    padding: 0.8em 0.8em 0.8em 1em;
    display: flex;
    flex-wrap: wrap;
}

.book-sort-control-group {
    display: flex;
}

.book-sort-keys label {
    margin-left: 1em;
}

.book-sort-keys label {
    margin-left: 1em;
}
.book-sort-keys label:first-child {
    margin-left: 0;
}

.book-sort-title {
    font-weight: bold;
    margin-right: 1em;
}

.book-sort-directions {
    margin-left: 2em;
}
/* Small screens */
@media all and (max-width: 500px) {
    .book-sort-directions {
        margin:auto;
    }
}

.book-sort-directions label {
     margin-left: 0.8em;
 }