---
---

@import "{{ site.theme }}";

.page-header {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.book {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 5px lightgrey;
    background-color: white;
}

.books-panel {
    background-color: lightyellow;
}

.book-sort-control-container {
    padding: 0.8rem 0.8rem 0.8rem 1rem;
    display: flex;
    flex-wrap: wrap;
}

.book-sort-control-group {
    display: flex;
    margin-bottom: 0.3rem;
}

.book-sort-keys label {
    margin-left: 1rem;
}

.book-sort-keys label {
    margin-left: 1rem;
}
.book-sort-keys label:first-child {
    margin-left: 0;
}

.book-sort-title {
    font-weight: bold;
    margin-right: 0.6rem;
}

.book-sort-directions {
    margin-right: 2rem;
}

.book-sort-directions label {
     margin-left: 0.8rem;
 }