---
---

@import "{{ site.theme }}";

.book {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 5px lightgrey;
    background-color: white;
}

.books-panel {
    background-color: lightyellow;
}

.book-sort-control {
    margin-bottom: 7px;
    padding: 18px;
}

.book-sort-directions {
    margin-left: 35px;
}

.book-sort-keys {
    margin-left: 12px;
}

[name="book-sort-key"] {
    margin-left: 8px;
}